<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% include 'user_dashboard_v2/head.html' %}


    <title>Dashboard Chat</title>
</head>

<body>


    {% include 'user_dashboard_v2/top-nav.html' %}



    <div class="main-dash">
        {% include 'user_dashboard_v2/aside.html' %}


        <div class="dashboard chat_dashwid">
            
            <div class="chat_dash_cont">

                <div class="chat_left_side d-none">
                    <div class="form_src">
                        <form action="">
                            <div class="pos_rel">
                                <div class="chatsfl">
                                    <img src="./assets/images/chat_search.png" alt="" class="sercimh">
                                    <input type="search" name="search" class="chat_search" placeholder="Search...">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="chat_cont">

                        <div class="chat_cnfl">
                            <div class="chatpf pos_rel">
                                <img src="./assets/images/ctprfimh.png" alt="">
                                <span class="activ_el"></span>
                            </div>
                            <div class="chat_prn">
                                <div class="chttimfl">
                                    <h6>Ismail J</h6>
                                    <p>3:15 PM</p>
                                </div>
                                <div class="chttx">
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </div>
                            </div>
                        </div>
                        <div class="chat_cnfl">
                            <div class="chatpf pos_rel">
                                <img src="./assets/images/prfimg2.png" alt="">
                                <span class="activ_el"></span>
                            </div>
                            <div class="chat_prn">
                                <div class="chttimfl">
                                    <h6>Laney Gray</h6>
                                    <p>5:15 PM</p>
                                </div>
                                <div class="chttx">
                                    <p>Phasellus mollis tristique commodo</p>
                                </div>
                            </div>
                        </div>
                        <div class="chat_cnfl">
                            <div class="chatpf pos_rel">
                                <img src="./assets/images/prfimg2.png" alt="">
                                <span class="activ_el"></span>
                            </div>
                            <div class="chat_prn">
                                <div class="chttimfl">
                                    <h6>Oscar Thomsen</h6>
                                    <p>5:15 PM</p>
                                </div>
                                <div class="chttx">
                                    <p>Phasellus mollis tristique commodo</p>
                                </div>
                            </div>
                        </div>
                        <div class="chat_cnfl">
                            <div class="chatpf pos_rel">
                                <img src="./assets/images/prfimg2.png" alt="">
                                <span class="activ_el"></span>
                            </div>
                            <div class="chat_prn">
                                <div class="chttimfl">
                                    <h6>Kendra Lord</h6>
                                    <p>5:15 PM</p>
                                </div>
                                <div class="chttx">
                                    <p>Phasellus mollis tristique commodo</p>
                                </div>
                            </div>
                        </div>
                        <div class="chat_cnfl">
                            <div class="chatpf pos_rel">
                                <img src="./assets/images/prfimg2.png" alt="">
                                <!-- <span class="activ_el"></span> -->
                            </div>
                            <div class="chat_prn">
                                <div class="chttimfl">
                                    <h6>Laney Gray</h6>
                                    <p>5:15 PM</p>
                                </div>
                                <div class="chttx">
                                    <p>Phasellus mollis tristique commodo</p>
                                </div>
                            </div>
                        </div>
                        <div class="chat_cnfl">
                            <div class="chatpf pos_rel">
                                <img src="./assets/images/prfimg2.png" alt="">
                                <span class="activ_el1"></span>
                            </div>
                            <div class="chat_prn">
                                <div class="chttimfl">
                                    <h6>Gatlin Huber</h6>
                                    <p>5:15 PM</p>
                                </div>
                                <div class="chttx">
                                    <p>Phasellus mollis tristique commodo</p>
                                </div>
                            </div>
                        </div>
                        <div class="chat_cnfl">
                            <div class="chatpf pos_rel">
                                <img src="./assets/images/prfimg2.png" alt="">
                                <span class="activ_el1"></span>
                            </div>
                            <div class="chat_prn">
                                <div class="chttimfl">
                                    <h6>Timothy</h6>
                                    <p>5:15 PM</p>
                                </div>
                                <div class="chttx">
                                    <p>Phasellus mollis tristique commodo</p>
                                </div>
                            </div>
                        </div>
                        <div class="chat_cnfl">
                            <div class="chatpf pos_rel">
                                <img src="./assets/images/prfimg2.png" alt="">
                                <span class="activ_el"></span>
                            </div>
                            <div class="chat_prn">
                                <div class="chttimfl">
                                    <h6>Laney Gray</h6>
                                    <p>5:15 PM</p>
                                </div>
                                <div class="chttx">
                                    <p>Phasellus mollis tristique commodo</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
    
                <div class="chat_right_side w-100">
    
                    <div class="chat_mnfl">
                        <div class="chatpf pos_rel d-none">
                            <img src="./assets/images/ctprfimh.png" alt="">
                            <span class="activ_el"></span>
                        </div>
                        <div class="chat_prnbx">
                            <div class="chttimfl">
                                <div class="actv_cat">
                                    <h6>{{username1}}</h6>
                                    {% comment %} <p>Active Now</p> {% endcomment %}
                                </div>
                                <div class="chttxicn">
                                    <img src="./assets/images/sersrt.png" alt="">
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="chatboxcon">
                        <div class="chatboxsp" id="display">

                            <div class="leftside_chat">
                                <div class="chtflfl">
                                    <div class="chatpf pos_rel">
                                        <img src="./assets/images/ctprfimh.png" alt="">
                                    </div>
                                    <div class="chat_prn">
                                        <div class="cheTxt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mollis tristique commodo. Nulla quis ligula at 
                                                lacus consectetur sollicitudin. Sed vitae tortor imperdiet, semper ex ac, imperdiet risus. </p>
                                        </div>
                                    </div>
                                    <div class="chttime">
                                        <p>3:20 PM</p>
                                    </div>
                                </div>
                            </div>

                            <div class="rightside_chat">
                                <div class="chtflfl">
                                    <div class="chttime">
                                        <p>3:25 PM</p>
                                    </div>
                                    <div class="chat_prn">
                                        <div class="cheTxt rgtbg">
                                            <p>Aenean arcu eros, iaculis vel lacus quis, bibendum cursus dolor</p>
                                        </div>
                                    </div>
                                    <div class="chatpf pos_rel">
                                        <img src="./assets/images/chatprfimg2.png" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="leftside_chat">
                                <div class="chtflfl">
                                    <div class="chatpf pos_rel">
                                        <img src="./assets/images/ctprfimh.png" alt="">
                                    </div>
                                    <div class="chat_prn">
                                        <div class="cheTxt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                    <div class="chttime">
                                        <p>3:30 PM</p>
                                    </div>
                                </div>
                            </div>

                            <div class="rightside_chat">
                                <div class="chtflfl">
                                    <div class="chttime">
                                        <p>3:35 PM</p>
                                    </div>
                                    <div class="chat_prn">
                                        <div class="cheTxt rgtbg">
                                            <p>Proin quis pharetra velit. Fusce sagittis dapibus tellus</p>
                                        </div>
                                    </div>
                                    <div class="chatpf pos_rel">
                                        <img src="./assets/images/chatprfimg2.png" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="leftside_chat">
                                <div class="chtflfl">
                                    <div class="chatpf pos_rel">
                                        <img src="./assets/images/ctprfimh.png" alt="">
                                    </div>
                                    <div class="chat_prn">
                                        <div class="cheTxt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mollis tristique commodo. Nulla quis ligula at 
                                                lacus consectetur sollicitudin. Sed vitae tortor imperdiet, semper ex ac, imperdiet risus. </p>
                                        </div>
                                    </div>
                                    <div class="chttime">
                                        <p>3:20 PM</p>
                                    </div>
                                </div>
                            </div>

                            <div class="rightside_chat">
                                <div class="chtflfl">
                                    <div class="chttime">
                                        <p>3:25 PM</p>
                                    </div>
                                    <div class="chat_prn">
                                        <div class="cheTxt rgtbg">
                                            <p>Aenean arcu eros, iaculis vel lacus quis, bibendum cursus dolor</p>
                                        </div>
                                    </div>
                                    <div class="chatpf pos_rel">
                                        <img src="./assets/images/chatprfimg2.png" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="leftside_chat">
                                <div class="chtflfl">
                                    <div class="chatpf pos_rel">
                                        <img src="./assets/images/ctprfimh.png" alt="">
                                    </div>
                                    <div class="chat_prn">
                                        <div class="cheTxt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        </div>
                                    </div>
                                    <div class="chttime">
                                        <p>3:30 PM</p>
                                    </div>
                                </div>
                            </div>

                            <div class="rightside_chat">
                                <div class="chtflfl">
                                    <div class="chttime">
                                        <p>3:35 PM</p>
                                    </div>
                                    <div class="chat_prn">
                                        <div class="cheTxt rgtbg">
                                            <p>Proin quis pharetra velit. Fusce sagittis dapibus tellus</p>
                                        </div>
                                    </div>
                                    <div class="chatpf pos_rel">
                                        <img src="./assets/images/chatprfimg2.png" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="typmsprt" id="form-div">
                        <div class="tymsgfl">
                            <form id="post-form" class="w-100">
                                {% csrf_token %}
                                <div class="inpufl">
                                    <input type="hidden" name="username" id="username" value="{{username}}"/>
                                    <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
                                    <input type="hidden" name="quote_id" id="quote_id" value="{{quote_id}}"/>
                                    <input type="text" name="message" class="typmsg" id="message" placeholder="Type a message">
                                    <img src="./assets/images/emoji.png" alt="" class="emojiimg">
                                </div>
                                <div class="sendbtn">
                                    <button class="send_btns" type="submit" style="float: right;" id="cbtn">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>


        </div>


    </div>


    <div class="footer_sec p-0">
        <div class="copyrights m-0 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© 2022 Eventinz, Inc All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


        <script>
            $(document).ready(function(){
                $("#display").html(`<div class="text-center"><div class="spinner-border spinner-border-sm text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div> Loading...</div>`);
            setInterval(function(){
                $.ajax({
                    type: 'GET',
                    url : "https://eventinz.com/chat/getMessages/{{room}}/{{quote_id}}/",
                    success: function(response){
                        //console.log(response);
                        $("#display").empty();
                        var username = $('#username').val();
                        for (var key in response.messages)
                        {
                            var temp = `<div class="leftside_chat my-2">
                                <div class="chtflfl">
                                    
                                    <div class="chat_prn">
                                        <div class="cheTxt">
                                            <p>${response.messages[key].value}</p>
                                        </div>
                                    </div>
                                    <div class="chttime">
                                        <p>${response.messages[key].date}</p>
                                    </div>
                                </div>
                            </div>`;
                            var temp_user = `<div class="rightside_chat my-2">
                                <div class="chtflfl">
                                    <div class="chttime">
                                        <p>${response.messages[key].date}</p>
                                    </div>
                                    <div class="chat_prn">
                                        <div class="cheTxt rgtbg">
                                            <p>${response.messages[key].value}</p>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>`;
                            if (response.messages[key].user == username){
                                $('#display').append(temp_user);
                            }
                            else{
                                $('#display').append(temp);
                            }
                            //var temp="<hr><div class='container darker mt-2'><p><b>"+response.messages[key].user+"<span class='text-muted text-sm' style='float: right;'>"+response.messages[key].date+"</span></p></b><p>"+response.messages[key].value+"</p></div>";
                            //$("#display").append(temp);
                        }
                    },
                    error: function(response){
                        // alert('An error occurred')
                    }
                });
            },1000);
            })
            </script>
            <script type="text/javascript">
                $(document).on('submit','#post-form',function(e){
                
                e.preventDefault();
                $('#cbtn').html("Sending...");
            
                $.ajax({
                  type:'POST',
                  url:'https://eventinz.com/chat/send',
                  data:{
                      username:$('#username').val(),
                      room_id:$('#room_id').val(),
                      message:$('#message').val(),
                      quote_id:$('#quote_id').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                  },
                  success: function(data){
                    alert("OK");
                    $('#cbtn').val("Send");
                     // alert(data)
                  },
                  error: function(res){
                    //alert(res);
                    $('#cbtn').html("Send");
        
                  }
                });
                document.getElementById('message').value = ''
              });
            </script>
        
</body>

</html>